---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% include head.html %}
    {% if page.charts %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
    {% endif %}
</head>

<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                        <i class="fa fa-clock-o"></i>
                        {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                        {% else %}
                        <a class="btn zoombtn" href="{{site.url}}/posts/">
                            {% endif %}
                            <i class="fa fa-chevron-left"></i>
                        </a>
                </div>
                {% for game in page.games %}
                <iframe width=600 height=397 frameborder=0
                    src="https://lichess.org/embed/{{ game }}?theme=auto&bg=auto"></iframe>
                {% endfor %}

                {{ content | toc }}

                {% for chart in page.charts %}
                <script>
                    (function (vegaEmbed) {
                        var spec = "https://raw.githubusercontent.com/oerpli/oerpli.github.io/master/fdf/{{ chart }}.json";
                        var embedOpt = { "mode": "vega-lite" };

                        function showError(el, error) {
                            el.innerHTML = ('<div class="error" ><p>Chart Spec Error: ' + error.message + '</p></div>');
                            throw error;
                        }
                        const el = document.getElementById('{{ chart }}');
                        vegaEmbed("#{{ chart }}", spec, embedOpt).catch(error => showError(el, error));
                    })(vegaEmbed);
                </script>
                {% endfor %}

                <div class="entry-meta">
                    {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section>
        <!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>

</html>
